<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.istudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IStudy">
        <activity android:name=".NotesVideoActivity" />
        <activity android:name=".NotesLessonActivity" />
        <activity android:name=".LessonActivity" />
        <activity android:name=".CourseActivity"
            android:theme="@style/Theme.IStudy"/>
        <activity
            android:name=".Grade1NContentActivity"
            android:theme="@style/Theme.IStudyTrial" />
        <activity android:name=".Grade1NotesActivity" />
        <activity android:name=".Grade1Activity" />
        <activity android:name=".books.p3math" />
        <activity android:name=".books.p2math" />
        <activity android:name=".books.p1math" />
        <activity android:name=".books.p2eng" />
        <activity android:name=".SubjectActivity"
            android:theme="@style/Theme.IStudy"/>

        <activity android:name=".LessonsActivity"
            android:theme="@style/Theme.IStudyTrial"/>
        <activity
            android:name=".CoursesActivity"
            android:theme="@style/Theme.IStudyTrial" />
        <activity
            android:name=".NotesContentActivity"
            android:theme="@style/Theme.IStudyTrial" />
        <activity
            android:name=".NotesActivity"
            android:theme="@style/Theme.IStudyTrial" />
        <activity
            android:name=".ClassesActivity"
            android:theme="@style/Theme.IStudyTrial" />
        <activity
            android:name=".books.p3eng"
            android:theme="@style/Theme.IStudyTrial" />
        <activity
            android:name=".books.p1eng"
            android:theme="@style/Theme.IStudyTrial" />
        <activity
            android:name=".Books"
            android:theme="@style/Theme.IStudyTrial" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/Theme.IStudyTrial" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.IStudyTrial" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.IStudyTrial" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>